* {
  margin: 0;
}
body {
  width: 100%;
}
/* main */
.part {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 10px;
}

/* grid */
.ctr {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 65px repeat(4, auto);
  grid-template-areas:
    "top"
    "side"
    "traffic"
    "social"
    "members"
    "setting";
}
.top p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin: 10px;
}
.newM {
  display: grid;
  grid-area: members;
}
/* top Nav */
.top {
  display: flex;
  grid-area: top;
  width: 100%;
  height: 65px;
  align-items: center;
  background-color: #7477bf;
}
.bell {
  width: 30px;
  margin: auto;
  fill: white;
  transition: 1s;
}
.bell-d {
  margin: auto;
  width: 50px;
  margin-right: 10px;
  margin-top: 10px;
}
.not {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 65px;
  right: 9rem;
  padding: 10px;
  width: 200px;
  height: auto;
  background-color: lightgrey;
  z-index: 3;
  align-items: flex-end;
}

.itm {
  display: flex;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid black;
  color: black;
  justify-content: space-between;
}
.itm:last-child {
  border: none;
}
.itm p {
  color: black;
}
.itm .cls {
  padding: 5px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  color: red;
  cursor: pointer;
}
.bell-cntr {
  transform-origin: 50% 0;
}
.bell-cntr:hover {
  animation: ring 10s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes ring {
  0%,
  100% {
    transform: rotate(50deg);
  }
  10%,
  90% {
    transform: rotate(-50deg);
  }
  40%,
  60% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
}
.top img {
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}
.top hr {
  margin: 10px;
  height: 50%;
}
.top h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 10px;
}
.top strong {
  font-weight: 400;
}

.dot {
  height: 8px;
  width: 8px;
  margin-top: 5px;
  margin-left: 50%;
  background-color: lightgreen;
  border-radius: 50%;
  display: block;
}
/* Side Nav */
.side {
  position: absolute;
  top: 65px;
  z-index: 1;
  display: flex;
  grid-area: side;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #4d4c72;
}
.side svg {
  margin: auto 10px;
  width: 35px;
  padding: 10px;
  fill: white;
}

/* dashboard */

.part {
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.file span {
  width: 70%;
  height: 50px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 0;
  -webkit-box-shadow: inset 5px -6px 22px -8px rgba(0, 0, 0, 0.18);
  box-shadow: inset 5px -6px 22px -8px rgba(0, 0, 0, 0.18);
}
.file {
  height: 50px;
  display: flex;
}
#pieChart {
  max-width: 100%;
  min-width: 20px;
  margin: 10px;
  max-height: 100%;
  padding: 15px;
}
/* Alert */
.alert {
  display: flex;
  padding: 10px;
  width: 90%;
  background-color: #7477bf;
  border-radius: 7px;
  justify-content: flex-start;
  margin: auto;
  margin-top: 15px;
}
.alert h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}
.alert strong {
  font-weight: 600;
}
.close {
  color: white;
  margin: auto;
  margin-right: 5px;
  cursor: pointer;
}
.traffic {
  grid-area: traffic;
  width: 100%;
}
.stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(370px, calc(1fr + 10px)));
  grid-template-areas:
    "line"
    "bar"
    "pie";
}
.traffic .part {
  height: auto;
  width: 75px;
  border: none;
  margin: 10px;
  padding: 0px;
}

.btn {
  color: black;
  text-decoration: none;
}
#selected {
  padding: 5px 10px 5px 10px;
  background-color: #81c98f;
  color: white;
  border-radius: 50px;
}
.times {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  margin: auto;
  justify-content: flex-end;
  margin-right: 4%;
  max-width: min-content;
}
.times * {
  margin: 10px;
}
.buttonBox {
  margin: auto;
  box-sizing: border-box;
  width: 90%;
  max-width: min-content;
}
.hrt {
  width: 100%;
}
.bar {
  grid-area: bar;
  border-right: 1px solid black;
}
.bar .part {
  width: 150px;
}
.pie {
  grid-area: pie;
  display: grid;

  grid-template-rows: repeat(2, auto);
}
.pie .part {
  width: 150px;
}
.line {
  grid-area: line;
}
.social {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.statistics {
  grid-area: social;
  border-top: 1px solid black;
}

.i {
  fill: white;
}
.brd {
  border-radius: 0px;
}
.lg {
  margin-top: 15px;
  padding: 10px;
  background-color: #7477bf;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo {
  width: 32px;
  margin: 10px auto 10px 0;
  margin-right: 0;
  background-color: #7477bf;
  fill: white;
}
.f {
  padding: 20px;
  border-radius: 50px;
}
.tittle {
  font-size: 20px;
  color: #7477bf;
}

.num {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: gray;
}
.dash {
  grid-area: traffic;
  width: 100%;
}

.newM {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "new"
    "activity";
}
.activity,
.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.img {
  border-radius: 50%;
  width: 85px;
}
.member {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid black;
}
.member a {
  color: #7477bf;
  text-decoration: none;
}
.newMem {
  width: auto;
  height: 15px;
  padding: 20px;
  border: none;
  margin: auto;
  margin-left: 10px;
}

.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message {
  margin: 10px;
  padding: 10px;
  width: 85%;
  background-color: #f5f5f5;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.switch {
  -webkit-appearance: none;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background-color: grey;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
  border: 3px solid lightgrey;
}
.switch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  height: 1.25rem;
  width: 1.25rem;
  transition: left 0.3s;
  border: 3px solid lightgrey;
}
.switch:checked {
  background-color: #7477bf;
}
.switch:checked::after {
  left: 80%;
}
.switch::before {
  position: absolute;
  content: "OFF";
  left: 60%;
  top: 27%;
  color: white;
}
.switch:checked::before {
  left: 15%;
  content: "ON";
}
.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cntr {
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.cntr * {
  margin: 10px;
}
.submit {
  margin-bottom: 10px;
  width: 90%;
  height: 45px;
  border: none;
  background-color: #7477bf;
  color: white;
  border-radius: 5px;
}
#time {
  width: 90%;
  height: 50px;
  color: grey;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%237477bf'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 16px;
  background-position: calc(100% - 20px) 17px;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  margin: 20px 0;
}

.btnd {
  width: 45%;
  height: 50px;
  margin: auto;
  color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.s {
  background-color: #7477bf;
}
.cancle {
  background-color: #999999;
}
.button {
  display: flex;
  width: 90%;
  margin-bottom: 20px;
}
.sets {
  display: grid;
  grid-area: setting;
}
.text {
  padding: 10px;
  width: 90%;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid lightgrey;
}
html {
  margin: 0;
  width: 100%;
}
.new {
  grid-area: new;
}
.activity {
  grid-area: activity;
}
.texta {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 3;
  background-color: transparent;
  font-size: 25px;
  padding: 0 18px;
  color: black;
  font-weight: bold;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
}
.cont {
  position: relative;
  margin: 10px;
  width: 90%;
  height: 40px;
  background-color: #f5f5f5;
  border: 1px solid lightgrey;
  border-radius: 10px;
  border-radius: 5px;
}
.predict {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 18px;
  font-size: 25px;
  color: lightgray;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.err-msg {
  display: none;
}
@media only screen and (min-width: 768px) {
  .ctr {
    grid-template-columns: 65px 1fr;
    grid-template-rows: 65px repeat(5, auto);
    grid-template-areas:
      "top top"
      "side traffic"
      "side social"
      "side members"
      "side setting";
  }
  .side {
    position: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  .statistics {
    border: none;
  }
  .stats {
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-template-areas:
      "line line"
      "bar pie";
  }

  #barChart {
    max-height: 300px;
    min-height: 300px;
    max-width: 100%;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social {
    width: 25%;
  }
  .hrt {
    width: 200%;
  }
  .buttonBox {
    margin: auto;
    margin-right: 20px;
  }
  .member {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
  .member * {
    margin: auto 5px;
  }
  .member img {
    margin: 20px;
  }
  .member .date {
    margin: auto;
    margin-right: 10px;
    border: none;
  }
  .inf {
    margin: auto 10px;
  }
  .cntr {
    margin: auto;
    margin-left: 10px;
  }
  .pie {
    grid-template-columns: minmax(auto, 45vw);
  }
}

@media only screen and (min-width: 1024px) {
  .sets {
    grid-template-columns: repeat(2, 49%);
    grid-template-areas: "msg setts";
  }
  .msg {
    grid-area: msg;
    border: none;
  }
  .settings {
    grid-area: setts;
    border-left: 1px solid black;
  }
  .member:last-child {
    margin-bottom: 0;
  }
  .hide {
    display: none;
  }
  .newM {
    grid-template-columns: repeat(2, 49%);
    grid-template-areas: "new activity";
  }
  .new {
    border-right: 1px solid black;
  }
}
